/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mix */
body {
  font-family: 'Roboto', sans-serif;
}

.pos_rel {
  position: relative;
}

/* header */
header {
  font-size: 18px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: grey;
}

.container {
  height: 70px;
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.list_inline {
  display: flex;
  list-style: none;
}

ul.list_inline li {
  margin: 0 15px;
}

.btn {
  padding: 10px 25px;
  border-radius: 10px;
}

.btn.black {
  background-color: black;
  color: white;
}

.btn.grey {
  background-color: lightgrey;
  color: black;
}

.dropdown_menu {
  position: absolute;
  top: 30px;
  left: -50%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  width: 170px;
  display: none;
}

.dropdown {
  list-style: none;
}

.dropdown li {
  padding: 15px 5px;
}

/* main */
.container2 {
  display: flex;
  justify-content: center;
}

.container2 img {
  height: 600px;
}
